@media screen and (min-width: 64em) {
	body {
		font: normal normal 400;
		font-size: 100%;
		line-height: 1.5em;
		font-family: Avenir,Verdana,sans-serif;
		margin-top: 1em;
		margin-left: 1em;
		padding-bottom: 5em;
	}

	code {
		font: normal normal;
		font-size: 90%;
		font-family: Monaco,Menlo,monospace,sans-serif;
		color: #aaa;
	}

	h1,h2,h3,h4 {
		font-weight: 400;
		font-family: Avenir,Cousine,Verdana,sans-serif;
	}

	h1 {
		text-align: left;
		font-size: 3em;
		line-height: 1em;
	}

	h1+p {
		/*subtitle*/
		font-style: italic;
		font-size: 110%;
	}

	h2 {
		font-size: 1.4em;
		color: #bc412b;
		text-align: right;
	}

	h3 {
		font-size: 1em;
		line-height: 2em;
		text-align: right;
	}

	a {
		color: inherit;
	}

	a:hover {
		color:#39f
	}

	#webaddress {
		margin-top: 1em;
		margin-bottom: 1em;
		color: #bc412b;
		font-family: Monaco,Menlo,monospace,sans-serif;
		font-size: 100%;
	}

	#webaddress a {
		text-decoration: none;
	}

	#language-switch {
		margin-top: 1em;
		font-size: 100%;
	}

	.german-flag {
		background-image: url('german_flag.jpeg');
		background-size: cover; /* scales the image */
		width: 30px;  /* adjust as needed */
		height: 20px;  /* adjust as needed */
		border: none;
		cursor: pointer;
	}

	.british-flag {
		background-image: url('british_flag.jpeg');
		background-size: cover; /* scales the image */
		width: 30px;  /* adjust as needed */
		height: 20px;  /* adjust as needed */
		border: none;
		cursor: pointer;
	}

	#photo {
		border-radius: 5px;
	}

	strong {
		font-weight: bold;
	}

	#address {
		display: none;
	}

	.container {
		position: relative;
	}

	.centerRight {
		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
}
