body {
	font-size: 11pt;
	margin: 1em;
}

h1,h2,h3,h4 {
	page-break-after: avoid;
}

h2 {
	text-align: left;
}

h3 {
	text-align: left;
}

#webaddress {
	display: none;
}

#webaddress a {
	display: none;
}

#language-switch {
	display: none;
}

.centerRight {
	left: 0;
	right: 0;
}

.print-head-grid {
	display: grid;
	grid-template-columns: 10% 3% auto;
}

.print-education-grid {
	display: grid;
	grid-template-columns: 76% 3% auto;
}

.print-occupation-grid {
	display: grid;
	grid-template-columns: 76% 3% auto;
}
