<div class="pure-g print-education-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Master of Science in Data Science</strong>, <a href="https://professional-school.uni-muenster.de/en/universitaet-muenster-professional-school/">Professional School Münster</a><br>
      Mark: <i>noch nicht abgeschlossen</i>
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>2024 - Jetzt</code></p>
  </div>
</div>
<div class="pure-g print-education-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Master of Science in Mathematics</strong>, TU Dresden<br>
      Note: 1,4
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>2018 - 2020</code></p>
  </div>
</div>
<div class="pure-g print-education-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Bachelor of Science in Mathematics</strong>, TU Dresden<br>
      Note: 2,2
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>2015 - 2018</code></p>
  </div>
</div>
<div class="pure-g print-education-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Fachinformatiker für Systemintegration</strong>, Landesrechenzentrum Steuern Sachsen
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>2012 - 2015</code></p>
  </div>
</div>
