<div class="pure-g print-education-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Master of Science in Data Science</strong>, <a herf="https://professional-school.uni-muenster.de/en/universitaet-muenster-professional-school/">Professional School Münster</a><br>
      Mark: <i>not yet completed</i>
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>2024 - Now</code></p>
  </div>
</div>
<div class="pure-g print-education-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Master of Science in Mathematics</strong>, <a href="https://tu-dresden.de/?set_language=en">TU Dresden</a><br>
      Mark: 1.4
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>2018 - 2020</code></p>
  </div>
</div>
<div class="pure-g print-education-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Bachelor of Science in Mathematics</strong>, <a href="https://tu-dresden.de/?set_language=en">TU Dresden</a><br>
      Mark: 2.2
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>2015 - 2018</code></p>
  </div>
</div>
<div class="pure-g print-education-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>IT specialist for system integration</strong>, <a href="https://www.sid.sachsen.de/lrzs.html">Landesrechenzentrum Steuern Sachsen</a>
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>2012 - 2015</code></p>
  </div>
</div>
