<div class="pure-g print-education-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Master of Science in Mathematics</strong>, TU Dresden<br>
      Mark: 1.4
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>2018 - 2020</code></p>
  </div>
</div>
<div class="pure-g print-education-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Bachelor of Science in Mathematics</strong>, TU Dresden<br>
      Mark: 2.2
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>2015 - 2018</code></p>
  </div>
</div>
<div class="pure-g print-education-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>IT specialist for system integration</strong>, Landesrechenzentrum Steuern Sachsen
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>2012 - 2015</code></p>
  </div>
</div>
