<p><strong>One year of full-stack development of a remote control solution (GoTo Resolve)</strong></p>
<ul>
  <li>Ownership of the session and media related backend components</li>
  <li>Ownership of the media related client libraries</li>
  <li>Technologies: Typescript &mdash; Docker &mdash; WebRTC &mdash; C++ &mdash; AKKA.NET with C# &mdash; ECS + Fargate &mdash; Terraform &mdash; Jenkins</li>
</ul>
<p><strong>Approx. one year of full-stack development of an online meeting solution (GoTo Meeting/Webinar/Training)</strong></p>
<ul>
  <li>Ownership of the video related backend components</li>
  <li>Ownership of the video related client libraries</li>
  <li>Technologies: Node.js &mdash; Typescript &mdash; WebRTC &mdash; C++ &mdash; Helm + Kubernetes &mdash; Docker &mdash; Jenkins</li>
</ul>
<p><strong>Two to three years of framework development for automated testing of distributed systems</strong></p>
<ul>
  <li>Ownership of the test framework itself</li>
  <li>Supporting teams to integrate the framework into their environment</li>
  <li>Technologies: Node.js &mdash; Typescript &mdash; Helm + Kubernetes &mdash; Docker &mdash; Jenkins</li>
</ul>
