<p><strong>Ein halbes Jahr Full-Stack-Entwicklung einer Chatbot-Plattform</strong></p>
<ul>
  <li>Entwicklung eines Website-Crawlers zur Anbindung von Websiten an Chatbots mittels Retrieval Augmented Generation</li>
  <li>Entwicklung eines Crawlers zur Anbindung eines propritären Content Management Systems an Chatbots mittels Retrieval Augmented Generation</li>
  <li>Verschiedene Weiterenticklungen der Oberfläche und Backend-Komponenten der Chatbot-Plattform <a href="https://www.dialogbits.com/">"DialogBits"</a></li>
  <li>Technologien: Typescript &mdash; Nest-JS &mdash; Angular &mdash; Docker &mdash; Helm + Kubernetes &mdash; Jenkins</li>
</ul>
<p><strong>Ein Jahr Full-Stack-Entwicklung des Media-Stacks von <a href="https://www.goto.com/it-management/resolve">"GoTo Resolve"</a> und <a href="https://www.logmeinrescue.com/">"Rescue"</a></strong></p>
<ul>
  <li>Entwicklung der Backend-Komponenten im Zusammenhang mit Session- und Medieninfrastruktur</li>
  <li>Entwicklung der Client-Bibliotheken zur Anbindung an die Medieninfrastruktur</li>
  <li>Technologien: Typescript &mdash; C++ &mdash; Docker &mdash; WebRTC &mdash; AKKA.NET mit C# &mdash; ECS + Fargate &mdash; Terraform &mdash; Jenkins</li>
</ul>
<p><strong>Über ein Jahr Full-Stack-Entwicklung des Video-Stacks von <a href="https://www.goto.com/meeting">"GoTo Meeting"</a></strong></p>
<ul>
  <li>Entwicklung der Video-Backend-Komponenten</li>
  <li>Entwicklung der Client-Bibliothek zur Anbindung an die Video-Infrastruktur</li>
  <li>Technologien: Node.js &mdash; C++ &mdash; Typescript &mdash; WebRTC &mdash; Helm + Kubernetes &mdash; Docker &mdash; Jenkins</li>
</ul>
<p><strong>Zwei bis drei Jahre Software-Entwicklung in einem Developer-Experience Team</strong></p>
<ul>
  <li>Entwickung eines Test-Frameworks für das verteilte Testen</li>
  <li>Etablierung von Best-Practices in Bereich Testen, Coding und Kollaboration</li>
  <li>Unterstützung der Teams bei der Integration des Frameworks in ihre Testumgebungen</li>
  <li>Technologien: Node.js &mdash; Typescript &mdash; Helm + Kubernetes &mdash; Docker &mdash; Jenkins</li>
</ul>
