<p><strong>Ein Jahr Full-Stack-Entwickling der Medieninfrastruktur einer Remote-Control-Lösung (GoTo Resolve)</strong></p>
<ul>
  <li>Verantwortlich für die Backend-Komponenten im Zusammenhang mit Session- und Medieninfrastruktur</li>
  <li>Verantwortlich für die Client-Bibliotheken zur Anbindung an die Medieninfrastruktur</li>
  <li>Technologien: WebRTC &mdash; Typescript &mdash; C++ &mdash; AKKA.NET mit C# &mdash; ECS + Fargate &mdash; Terraform &mdash; Docker &mdash; Jenkins</li>
</ul>
<p><strong>Etwa ein Jahr Full-Stack-Entwickling der Video-Infrastruktur einer Online-Meeting-Lösung (GoTo Meeting/Webinar/Training)</strong></p>
<ul>
  <li>Verantwortlich für die Video-Backend-Komponenten</li>
  <li>Verantwortlich für Client-Bibliothek zur Anbindung an die Video-Infrastruktur</li>
  <li>Technologien: WebRTC &mdash; Node.js &mdash; Typescript &mdash; C++ &mdash; Helm + Kubernetes &mdash; Docker &mdash; Jenkins</li>
</ul>
<p><strong>Zwei bis drei Jahre Framework-Entwicklung zum automatisierten Testen von verteilten Systemen</strong></p>
<ul>
  <li>Verantwortlich für das Framework selbst</li>
  <li>Unterstützung der Teams bei der Integration des Frameworks in ihre Testumgebung</li>
  <li>Technologien: Node.js &mdash; Typescript &mdash; Helm + Kubernetes &mdash; Docker &mdash; Jenkins</li>
</ul>
