<p><strong>Half a year of full-stack development of a chatbot platform</strong></p>
<ul>
  <li>Building a website crawler to use websites as resources for chat bots via retrieval augmented generation</li>
  <li>Building a crawler to integrate a propritary content management system to chat bots via Retrieval Augmented Generation</li>
  <li>Various improvements of the UI and backend components of the chatbot platform <a href="https://www.dialogbits.com/">"DialogBits"</a></li>
  <li>Technologies: Typescript &mdash; Nest-JS &mdash; Angular &mdash; Docker &mdash; Helm + Kubernetes &mdash; Jenkins</li>
</ul>
<p><strong>One year of full-stack development of the media stack of <a href="https://www.goto.com/it-management/resolve">"GoTo Resolve"</a> and <a href="https://www.logmeinrescue.com/">"Rescue"</a></strong></p>
<ul>
  <li>Development of session and media related backend components</li>
  <li>Development of media related client libraries</li>
  <li>Technologies: Typescript &mdash; C++ &mdash; Docker &mdash; WebRTC &mdash; AKKA.NET with C# &mdash; ECS + Fargate &mdash; Terraform &mdash; Jenkins</li>
</ul>
<p><strong>Approx. one year of full-stack development of the video stack of <a href="https://www.goto.com/meeting">"GoTo Meeting"</a></strong></p>
<ul>
  <li>Development of video related backend components</li>
  <li>Development of video related client libraries</li>
  <li>Technologies: Node.js &mdash; C++ &mdash; Typescript &mdash; WebRTC &mdash; Helm + Kubernetes &mdash; Docker &mdash; Jenkins</li>
</ul>
<p><strong>Two to three years of software engineering in a developer experience team</strong></p>
<ul>
  <li>Building and developing a test framework for distributed systems</li>
  <li>Establishing and living best practices regarding testing, coding and collaboration</li>
  <li>Supporting teams to integrate the test framework</li>
  <li>Technologies: Node.js &mdash; Typescript &mdash; Helm + Kubernetes &mdash; Docker &mdash; Jenkins</li>
</ul>
