approx. 2 years of designing, implementating, testing and deploying distributed systems for webrtc compliant media services<br>
<br>
2-3 years of designing, implementating, testing and integrating a test frame work for distributed systems<br>
<br>
<u>Technologies</u>
<ul>
  <li>node.js with typescript for the test frame work</li>
  <li>webrtc with typescript and c++ for media clients and backend services</li>
  <li>AKKA.NET with c# for session management backend services</li>
  <li>spring boot with kotlin for session management backend services</li>
  <li>teamcity and jenkins for ci/cd</li>
  <li>amazon elastic container services alongside with fargate to operate backend services</li>
  <li>amazon elastic kubernetes services to operate backend services</li>
  <li>docker for platform independent development and deployment of our applications</li>
  <li>terraform to describe the amazon web services infrastructure</li>
</ul>
