<div class="pure-g print-occupation-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Fullstack TypeScript Software Engineer</strong>, Web Computing GmbH<br>
      further development of the chatbot platform <a href="https://www.dialogbits.com/">"DialogBits"</a><br>
      pilot run and development of the AI assistant solution <a href="https://www.f-i.de/Portfolio/S-KIPilot">"S-KIPilot"</a>
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>Apr 2024 - Now</code></p>
  </div>
  <div class="pure-u-18-24">
    <p>
      <strong>Software Engineer</strong>, GoTo Technologies Germany GmbH<br>
      contributing to the media infrastructure of a remote control solution (GoTo Resolve)<br>
      contributing to the video infrastructure of a online meeting solution (GoTo Meeting)
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>Apr 2022 - Mar 2024</code></p>
  </div>
</div>
<div class="pure-g print-occupation-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Associate Software Engineer</strong>, GoTo Technologies Germany GmbH*<br>
      contributing to the video infrastructure of a online meeting solution (GoTo Meeting)<br>
      contributing to a test framework for distributed systems
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>Oct 2020 - Mar 2022</code></p>
  </div>
</div>
<div class="pure-g print-occupation-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Internship Associate Software Engineer</strong>, GoTo Technologies Germany GmbH**<br>
      contributing to a test framework for distributed systems
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>Oct 2015 - Sep 2020</code></p>
  </div>
</div>
<div class="pure-g print-occupation-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Tutor Linear Algebra</strong>, TU Dresden<br>
      mentoring of mathematics bachelor students
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>Apr 2020 - Sep 2020</code></p>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    <p>
      * formerly operating under LogMeIn Germany GmbH<br>
      ** formerly operating under Citrix Online Germany GmbH
    </p>
  </div>
</div>
