<code>Apr 2022 - jetzt</code>
<strong>Software Engineer</strong>, GoTo Technologies Germany GmbH<br>
Mitwirkung an der Medien-Infrastruktur einer Remote-Control-Lösung (GoTo Resolve)<br>
Mitwirkung an der Video-Infrastruktur einer Online-Meeting-Lösung (GoTo Meeting)<br>
<br>
<code>Okt 2020 - Mär 2022</code>
<strong>Associate Software Engineer</strong>, GoTo Technologies Germany GmbH*<br>
Mitwirkung an der Video-Infrastruktur einer Online-Meeting-Lösung (GoTo Meeting)<br>
Mitwirkung an einem Test-Framework für verteilte Systeme<br>
<br>
<code>Apr 2020 - Sep 2020</code>
<strong>Tutor Linear Algebra</strong>, TU Dresden<br>
Betreuung von Bachelor Studierenden im Mathematikstudium<br>
<br>
<code>Okt 2015 - Sep 2020</code>
<strong>Werkstudent als Associate Software Engineer</strong>, GoTo Technologies Germany GmbH**<br>
Mitwirkung an einem Test-Framework für verteilte Systeme<br>
<br>
* vormals firmierend als LogMeIn Germany GmbH<br>
** vormals firmierend als Citrix Online Germany GmbH
