<div class="pure-g print-occupation-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Fullstack TypeScript Software Engineer</strong>, Web Computing GmbH<br>
      Weiterentwicklung der Chatbot-Plattform <a href="https://www.dialogbits.com/">"DialogBits"</a><br>
      Pilotierung und Weiterentwicklung des KI-Assistenten <a href="https://www.f-i.de/Portfolio/S-KIPilot">"S-KIPilot" der S-Finanzgruppe</a>
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>Apr 2024 - Jetzt</code></p>
  </div>
  <div class="pure-u-18-24">
    <p>
      <strong>Software Engineer</strong>, GoTo Technologies Germany GmbH<br>
      Entwicklung der Medien-Infrastruktur für <a href="https://www.goto.com/it-management/resolve">"GoTo Resolve"</a><br>
      Entwicklung der Medien-Infrastruktur für <a href="https://www.logmeinrescue.com/">"Rescue"</a><br>
      Entwicklung der Video-Infrastruktur für <a href="https://www.goto.com/meeting">"GoTo Meeting"</a>
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>Apr 2022 - März 2024</code></p>
  </div>
</div>
<div class="pure-g print-occupation-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Associate Software Engineer</strong>, GoTo Technologies Germany GmbH*<br>
      Entwicklung der Video-Infrastruktur für <a href="https://www.goto.com/meeting">"GoTo Meeting"</a><br>
      Entwiclkung eines Test-Frameworks für verteilte Systeme
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>Okt 2020 - Mär 2022</code></p>
  </div>
</div>
<div class="pure-g print-occupation-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Werkstudent als Associate Software Engineer</strong>, GoTo Technologies Germany GmbH**<br>
      Entwicklung eines Test-Framework für verteilte Systeme in einem Scrum-Team
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>Okt 2015 - Sep 2020</code></p>
  </div>
</div>
<div class="pure-g print-occupation-grid">
  <div class="pure-u-18-24">
    <p>
      <strong>Tutor Linear Algebra</strong>, TU Dresden<br>
      Betreuung von Bachelor-Studierenden im Mathematikstudium
    </p>
  </div>
  <div class="pure-u-1-24"></div>
  <div class="pure-u-5-24">
    <p><code>Apr 2020 - Sep 2020</code></p>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    <p>
      * vormals firmierend als LogMeIn Germany GmbH<br>
      ** vormals firmierend als Citrix Online Germany GmbH
    </p>
  </div>
</div>
