<div class="pure-g">
  <div class="pure-u-4-5">
    <p>
      <strong>Software Engineer</strong>, GoTo Technologies Germany GmbH<br>
      Mitwirkung an der Medien-Infrastruktur einer Remote-Control-Lösung (GoTo Resolve)<br>
      Mitwirkung an der Video-Infrastruktur einer Online-Meeting-Lösung (GoTo Meeting)
    </p>
  </div>
  <div class="pure-u-1-5">
    <p><code>Apr 2022 - jetzt</code></p>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-4-5">
    <p>
      <strong>Associate Software Engineer</strong>, GoTo Technologies Germany GmbH*<br>
      Mitwirkung an der Video-Infrastruktur einer Online-Meeting-Lösung (GoTo Meeting)<br>
      Mitwirkung an einem Test-Framework für verteilte Systeme
    </p>
  </div>
  <div class="pure-u-1-5">
    <p><code>Okt 2020 - Mär 2022</code></p>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-4-5">
    <p>
      <strong>Tutor Linear Algebra</strong>, TU Dresden<br>
      Betreuung von Bachelor-Studierenden im Mathematikstudium
    </p>
  </div>
  <div class="pure-u-1-5">
    <p><code>Apr 2020 - Sep 2020</code></p>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-4-5">
    <p>
      <strong>Werkstudent als Associate Software Engineer</strong>, GoTo Technologies Germany GmbH**<br>
      Mitwirkung an einem Test-Framework für verteilte Systeme
    </p>
  </div>
  <div class="pure-u-1-5">
    <p><code>Okt 2015 - Sep 2020</code></p>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    <p>
      * vormals firmierend als LogMeIn Germany GmbH<br>
      ** vormals firmierend als Citrix Online Germany GmbH
    </p>
  </div>
</div>
