<code>Apr 2022 - now</code>
<strong>Software Engineer</strong>, GoTo Technologies Germany GmbH<br>
contributing to the media infrastructure of a remote control solution (GoTo Resolve)<br>
contributing to the video infrastructure of a online meeting solution (GoTo Meeting)<br>
<br>
<code>Oct 2020 - Mar 2022</code>
<strong>Associate Software Engineer</strong>, GoTo Technologies Germany GmbH*<br>
contributing to the video infrastructure of a online meeting solution (GoTo Meeting)<br>
contributing to a test framework for distributed systems<br>
<br>
<code>Apr 2020 - Sep 2020</code>
<strong>Tutor Linear Algebra</strong>, TU Dresden<br>
mentoring of mathematics bachelor students<br>
<br>
<code>Oct 2015 - Sep 2020</code>
<strong>Internship Associate Software Engineer</strong>, GoTo Technologies Germany GmbH**<br>
contributing to a test framework for distributed systems<br>
<br>
* formerly operating under LogMeIn Germany GmbH<br>
** formerly operating under Citrix Online Germany GmbH
